ion-card {
  --background: #f9f9f9;
  border-radius: 10px;
}

ion-card-title {
  color: #000000;
  font-size: 1.5em;
  font-weight: bold;
}

ion-card-content {
  color: #000000;
}

ion-img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}